{% extends 'base.html' %}
 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Forms</title>
        {% load static %}
        <!-- <link rel="stylesheet" href="{% static 'css/beautiful.css' %}"/> -->
    </head>
    <body>
      {% block content %}
      <main role="main" class="container">
        <div class="jumbotron text-center">

      
    <div class="form-group raw">
        <label class="raw-lg-6 raw-form-label"></label>
        <div class="raw-lg-6">
            <h1>Search a customer</h1>
        </div>
      

        <div class="form-group col">
          <label class="row-lg-2 row-form-label-lg">Upload customer's image :</label>
          <div class="row-sm-4">
              <form method="POST" name ='image' class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="col-sm-4">
                 {{ form2.as_p }}
                 <div class="col-sm-4">
                  <button type="submit" class="btn btn-success">search customer</button>
                  </div>
               </form>
  
          </div>
          </div>
  
        </div>

        {% if customers_in %}
        <table class="table table-striped table-bordered table-sm">  
          <thead class="thead-dark">  
          <tr>  
              <th>Customer Id </th>
              <th>Customer first name </th>
              <th>Customer last name </th>
              <th>Customer age </th>
              <th>Customer gender </th>
              <th>Blacklist Yes/No</th>  
              <th>Customer image </th>  
            
          </tr>  
          </thead>  
          <tbody>  
      {% for customer in customers_in %}  
          <tr>  
              <td>{{ customer.customer_id }}</td>
              <td>{{ customer.first_name }}</td>
              <td>{{ customer.last_name }}</td>
              <td>{{ customer.age }}</td>
              <td>{{ customer.gender }}</td>
              <td>{{ customer.isBlackList }}</td>
              <td><img src={{ customer.image }}></td>
  
              <td>  
  
              </td>  
          </tr>  
      {% endfor %}  
          </tbody>  
      </table>  
      {% endif %}

      {% if customers_out %}
      <table class="table table-striped table-bordered table-sm">  
        <thead class="thead-dark">  
        <tr>  
 
            <th>List of people not in the database </th>  
          
        </tr>  
        </thead>  
        <tbody>  
    {% for customer_out in customers_out %}  
        <tr>  
            <td><img src={{ customer_out }}></td>
        </tr>  
    {% endfor %}  
        </tbody>  
    </table>  



      <!-- old form 
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> First name:</label>
            <div class="col-sm-4 col-form-label-lg">
              {{ customer.first_name }}
            </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"> Last name:</label>
        <div class="col-sm-4 col-form-label-lg">
          {{ customer.last_name }}
        </div>
        <br>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"> Age :</label>
        <div class="col-sm-4 col-form-label-lg">
          {{ customer.age }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Blacklist Yes/No:</label>
        <div class="col-sm-4 col-form-label-lg">
          {{ customer.isBlackList }}
        </div>
      </div>
    </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Gender:</label>
        <div class="col-sm-4 col-form-label-lg">
          {{ customer.gender }}
        </div>

      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Image:</label>
          <img src={{ customer.image }}>
      </div> -->

      {% endif %}
      </main>

    {% endblock %}
    </body>
    </html>



